<div appScrolldirective class="nav-menu fixed-top">
    <div class="container">
      <div class="col-md-12">
        <nav class="navbar navbar-expand-lg">
          <a class="navbar-brand" href="#">
            <img
              src="https://www.lifebonder.com/images/logo.png"
              class="img-fluid"
              alt=""
            />
          </a>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" id="link" href="#">HOME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">IDEA</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">FEATURES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">MISSION</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">CAREERS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link special-1" href="#">BLOG</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">PRESS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link special-2 active" href="#">TEAM</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">JOIN US</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
  