<div class="section-title">
    <small style="visibility: hidden;">Team</small>
    <h3>Team Rockstar Warriors</h3>
    <p>
      We are a team of volunteering enthusiasts from all over the world that share
      the same vision: a social media platform that lives up to the promise of
      what social media can be: A tool to facilitate human connections rather than
      replacing them. We want to make the world a better place by filling a
      growing need - connecting people in friendships that are human, profound and
      meaningful. LifeBonder is a belief that genuine friendship is something we
      can all achieve. Something we all deserve!
    </p>
  </div>
  