<div class="row">
  <div
    [class]="
      member.type === 'admin' || member.type === 'admin2'
        ? 'col-12 col-lg-6'
        : 'col-12 col-lg-4'
    "
    *ngFor="let member of teamMembers"
  >
    <div
      [class]="
        member.type === 'admin'
          ? 'wrapper purple spec'
          : member.type === 'admin2'
          ? 'wrapper purple spec2'
          : 'wrapper purple'
      "
    >
      <div class="profile">
        <h4>{{ member.country | titlecase }}</h4>
        <img [src]="member.imagePath" alt="" class="thumbnail" />
        <h3>{{ member.name | titlecase }}</h3>
        <p class="title">{{ member.title | uppercase }}</p>
        <p class="subtitle">{{ member.subtitle | titlecase }}</p>
        <p class="description">{{ member.desc }}</p>
      </div>
      <div
        [class]="
          countSocial(member.social) < 3
            ? 'social-icons double'
            : 'social-icons'
        "
      >
        <div
          class="icon {{ social }}"
          *ngFor="let social of objectKeys(member.social)"
        >
          <a [href]="member.social[social]" target="_blank">
            <i class="ti-{{ social }}"></i>
          </a>
          <p>{{ social | titlecase }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
